#Pandas : Panel data

#Most popular for data preparation, datamnupulation like Spreedsheet
Short cuts:
Shift+tab = tooltip
Shift+Enter = Run Cell Select below
Ctrl +Enter = Run Cell
Alt+Enter  = Run cell, insert below

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series: data type
insead of pd.Series, we can type Series(from pandas import Series)
Series data type is like time series
Series alos contain multiple type of data int, float in series

In [16]:
series_obj1 = Series([2,3,4,5,6,7.5]) # Series can contain multiple type of data
series_obj1
#Automatically upgraded to float because of 7.5 it is similar concept in numpy array
#Observe index

0    2.0
1    3.0
2    4.0
3    5.0
4    6.0
5    7.5
dtype: float64

In [11]:
# we can provide more meaning full name to index by using index <parameter>
series_obj2 = Series([2,3,4,5], index = ['row 1','row 2','row 3','row 4'])
series_obj2

row 1    2
row 2    3
row 3    4
row 4    5
dtype: int64

Selecting and Retriving data from Series Object
 * by Passing index number
 * by Passing index name
 * by Slicing the series data
 * by selecting few elements

In [12]:
series_obj2[2] # index numbering will start from 0

4

In [13]:
# retriving data with index name
series_obj2['row 4']

5

In [18]:
#slicing the series data
series_obj1 = Series([2,3,4,5,6,7.5])
series_obj1[2:5]  #Note when using Slicing operator : it start from starting index(2), ends excluding the ending index (5)

2    4.0
3    5.0
4    6.0
dtype: float64

In [22]:
# selecting few elements like index 1, 3, 5
series_obj1[[1,3,5]]

1    3.0
3    5.0
5    7.5
dtype: float64

# Dataframe
# Its like a Spreadsheet
# Its 2-dimentional size- mutable(datacan be changed) array 2-dim(array 3 -dim are tensor)
# Its tabular data structure with label axes( rows and columns)

In [25]:
# in the example lets convert random matrix created in numpy to dataframe
np.random.rand(36).reshape(6,6)*100 #random function generate random from 0 to 1
np.floor(np.random.rand(36).reshape(6,6)*100)  # floor round to nearest lower number, Ceiling round to upper number

array([[25., 74., 97., 38., 75., 11.],
       [67., 11., 77., 65., 57., 81.],
       [79., 49., 60., 76., 43., 27.],
       [25., 23., 47., 68., 77., 58.],
       [41., 12., 95., 67., 62., 59.],
       [42., 42., 56., 88., 73., 15.]])

In [29]:
#converting to Dataframe object
df_obj1 = pd.DataFrame(np.floor(np.random.rand(36).reshape(6,6)*100))
df_obj1

      0     1     2     3     4     5
0  36.0  91.0  39.0  71.0  10.0  45.0
1  80.0  62.0   4.0  42.0  40.0  47.0
2  46.0  34.0  30.0  33.0  22.0   2.0
3  69.0  89.0   9.0  76.0  45.0  36.0
4  67.0  78.0  96.0  93.0  67.0  84.0
5  25.0  42.0  51.0  56.0  95.0  53.0

In [31]:
# Assign row name and column name , we create a List and assign accordingly
ind =['row 1', 'row 2', 'row 3','row 4', 'row 5', 'row 6']
col = ['col 1','col 2', 'col 3','col 4','col 5', 'col 6']
df_obj2 = DataFrame(np.floor(np.random.rand(36).reshape(6,6)*100), index =ind, columns =col) # assign ind and col to index and columns and direcly we can use DataFrame function as from pandas import Series, DataFrame
df_obj2

       col 1  col 2  col 3  col 4  col 5  col 6
row 1   20.0   13.0    3.0   55.0   11.0   82.0
row 2   26.0   70.0   56.0   83.0   94.0   67.0
row 3   17.0   12.0   95.0    3.0   57.0    1.0
row 4   98.0    3.0   30.0   24.0   22.0   43.0
row 5   78.0   71.0    9.0   44.0   33.0   41.0
row 6   26.0   76.0   30.0    5.0   54.0   37.0

# Slicing dataframe
As its not Series data ( as 1 -dim) it is Datafram (as 2 -dim )array we need to small helper function "loc"

In [32]:
df_obj2.loc['row 3', 'col 2'] # retriving single value

12.0

In [33]:
# What if retriving Multiple Value
df_obj2.loc[['row 3', 'row 4'] ,['col 1', 'col 3', 'col 4']]  # loc is location

       col 1  col 3  col 4
row 3   17.0   95.0    3.0
row 4   98.0   30.0   24.0

In [37]:
# retriving data with index using iloc is index location

df_obj2.iloc[2,3]

3.0

In [38]:
# slicing operation df_obj2.loc[['row 3', 'row 4'] ,['col 1', 'col 3', 'col 4']]
#                                 ----Row---------   ------------Columns------
#fetch all rows and fetch col3 to ending column using Slicing operator(:)

df_obj2.loc[ : ,'col 3':]

       col 3  col 4  col 5  col 6
row 1    3.0   55.0   11.0   82.0
row 2   56.0   83.0   94.0   67.0
row 3   95.0    3.0   57.0    1.0
row 4   30.0   24.0   22.0   43.0
row 5    9.0   44.0   33.0   41.0
row 6   30.0    5.0   54.0   37.0